html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282d31;
}

h1 {
  color: #cacaca;
  font-family: Helvetica;
  font-weight: 400;
}

p {
  color: #6b6b6b;
  font-family: Helvetica;
  margin-top: 14px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.osynlig {
  color: yellow;
}

.link-resume {
  color: white;
  text-decoration: none;
  font-family: Helvetica;
}
.link-resume:hover {
  color: paleturquoise;
  text-decoration: underline;
  font-family: Helvetica;
}

.link-github {
  color: white;
  text-decoration: none;
  font-family: Helvetica;
}
.link-github:hover {
  color: paleturquoise;
  text-decoration: underline;
  font-family: Helvetica;
}
.link-linkedin {
  color: white;
  text-decoration: none;
  font-family: Helvetica;
}
.link-linkedin:hover {
  color: paleturquoise;
  text-decoration: underline;
  font-family: Helvetica;
}

.welcome {
  text-align: center;
  padding-top: 20px;
  width: 50%;
  margin: auto;
}

.nav {
  text-align: center;
  padding-top: 20px;
  margin: auto;
  color: white;
}

.profile {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
}

.img-with-text {
  padding-top: 30px;
  margin: 10px;
  flex: 0 1 calc(20% - 2px);
  text-align: center;
}
.container img:hover {
  opacity: 0.3;
}

.img-with-text p {
  max-width: 100%;
}

a {
  outline: none;
}

.proj-padding {
  padding-bottom: 25px;
  font-size: 14px;
}

.navbar-container {
  text-align: center;
  padding: 10px;
  font-size: 0;
  font-family: Helvetica;
}

.navbar-container ul {
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.navbar-container ul li {
  display: inline-block;
  font-size: 16px;
}

.navbar-container ul li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}

.navbar-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-container ul li:hover .underline {
  background-color: white;
  width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
  transition: none;
  color: rgba(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
