@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=League+Spartan:wght@700&display=swap');

body {
    padding:0px;
    margin:0px;
/*     background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1491956175078-460aea0914ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1550&q=80") center center;
    background-size:cover;
    width:100vw;
    height:100vh; */
/*     background: #272727; */
    background: #FBFBF2;
    overflow:hidden;
    font-family: 'League Spartan', sans-serif;


}

#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background: #FBFBF2;
}
.box2 {
    background: #FBFBF2;
    margin-left:-5px;
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#A6A2A2;
}

#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#000000;
    padding-bottom:10vh;
}
#middle h1 {
    color: #847577;
    font-size:70px;
    margin-top: 0;
    margin-bottom: 5px;
}

#middle h2 {
color: #A6A2A2;
}

p {
    color: #FBFBF2;
    font-size: 18px !important;
}

#about {
/*     width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(-90deg);
    background:transparent;
    color:#ffffff;
    position:fixed;
    left:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px; */
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    background:transparent;
    color:#A6A2A2;
    position:fixed;
    bottom:0;
    left:25vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}
#work {
/*     width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:transparent;
    color:#ffffff;
    position:fixed;
    right:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px; */
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    background:transparent;
    color: #A6A2A2;
    position:fixed;
    bottom:0;
    left:65vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}
#contact {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    background:transparent;
    color:#A6A2A2;
    position:fixed;
    bottom:0;
    left:45vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}
#about:hover {
    background: #EF626C;
    cursor: pointer;
    color: #ffffff;
}
#work:hover {
    background: #EF626C;
    cursor:pointer;
    color: #ffffff;


}
#contact:hover {
    background: #EF626C;
    cursor:pointer;
    color: #ffffff;
}
#middle table {
    width:30%;
    margin:6vh auto;
}
#middle table tr td {
    text-align:center;
}
.social {
    color:#000;
    font-size:48px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    color: #EF626C;
}

.aboutme {
    max-width: 1072px;
}

.img_profile {
/* height: 160px;
width: 160px; */
height: 260px;
width: 260px;
border-radius: 50%;
margin: 0 auto;
margin-top: 40px;
}

.proj_img {
width: 100%;
}
.proj_img_small {
 width: 49%;
    height: fit-content;
}

 
.img_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px 33px;
    width: 100%;

}
img:hover {
    cursor: default;
}

.container {
    width:90vw;
    height:90vh;
/*    margin-left: 88vh;
    border-left: 2px solid #A6A2A2 ;  */
/*     box-shadow: -2px 0px 10px 1px #A6A2A2; */
    padding:5vh 5vw;
/*     background: #FBFBF2; */
    background: #EF626C;
    color:#000000;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.container div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.spacer {
    padding-top: 40px;
    padding-bottom: 40px;
}
.fas {
    cursor: pointer;
}
.container div:hover {
  
}
.container section {
    margin:8vh 0px;
}
#used div{
    font-size:14px !important;
    display:inline-block;
    background: #e92f48;
    color: #FBFBF2;
    padding:8px 10px;
  /*   border:2px solid #FBFBF2; */
    margin: 4px 10px;
    border-radius:50px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.container h1 {
    color: #FBFBF2;
    font-size: 82px;
    text-decoration: underline;
}
.container h2 {
    color: #FBFBF2;
}
.container p {
    font-size: 21px;
}
.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#FBFBF2;
    background: #EF626C;
    border: 2px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    color: #fff;
    box-shadow: 10px 10px #f5a6ab;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}


.btn_two {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(255, 50, 50);
    background:#fff;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_two:hover {
    cursor:pointer;
    color: #fff;
    background:#000000;
    padding:8px 60px;
}
.container form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
.container form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
::placeholder {
    color:#fff;
}

.fa-angle-right, .fa-angle-left {
    color: #fff;
}
/*  #footer {
    color:#fff;
    width:92vw;
    padding:5vh 4vw;
    text-align:right;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:16px;
    font-weight:bold;
}  #footer a {
    color:rgb(255, 50, 50) ;
}  */

::-webkit-scrollbar {
    width:8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: #EF626C;
}
::-webkit-scrollbar-thumb:hover {
    background: #EF626C;
}
::selection {
	color: #fff;
	background: #EF626C;
}

@media (max-width: 800px){ 
    #about {
        display:none;
    }
    #contact {
        display:none;
    }
    #work {
        display:none;
    }
/*     #footer {
        text-align:center;
    } */
    .proj_img_small {
        width: 100%;
       }
    #middle {
        width:90vw;
        padding:0px 5vw;
        height: 100vh;
    }



    #middle table {
        width:80%;
        margin: 0vh auto;
    }
    .container form input {
        width:90%;
    }
    .container form textarea {
        width:90%;
    }
    #menu {
        display:inline-block;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}

